Client/xml-resources/web-service-references/WS_Student/wsdl/localhost_8084/WSSSSSSSwww/WS_Student.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://services/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://services/" name="WS_StudentService">
<types>
<xsd:schema>
<xsd:import namespace="http://services/" schemaLocation="http://localhost:8084/WSSSSSSSwww/WS_Student?xsd=1" />
</xsd:schema>
</types>
<message name="getAllStudent">
<part name="parameters" element="tns:getAllStudent" />
</message>
<message name="getAllStudentResponse">
<part name="parameters" element="tns:getAllStudentResponse" />
</message>
<message name="addNewStudent">
<part name="parameters" element="tns:addNewStudent" />
</message>
<message name="addNewStudentResponse">
<part name="parameters" element="tns:addNewStudentResponse" />
</message>
<message name="findStudentByRollNo">
<part name="parameters" element="tns:findStudentByRollNo" />
</message>
<message name="findStudentByRollNoResponse">
<part name="parameters" element="tns:findStudentByRollNoResponse" />
</message>
<message name="updateStudent">
<part name="parameters" element="tns:updateStudent" />
</message>
<message name="updateStudentResponse">
<part name="parameters" element="tns:updateStudentResponse" />
</message>
<message name="isExist">
<part name="parameters" element="tns:isExist" />
</message>
<message name="isExistResponse">
<part name="parameters" element="tns:isExistResponse" />
</message>
<portType name="WS_Student">
<operation name="getAllStudent">
<input wsam:Action="http://services/WS_Student/getAllStudentRequest" message="tns:getAllStudent" />
<output wsam:Action="http://services/WS_Student/getAllStudentResponse" message="tns:getAllStudentResponse" />
</operation>
<operation name="addNewStudent">
<input wsam:Action="http://services/WS_Student/addNewStudentRequest" message="tns:addNewStudent" />
<output wsam:Action="http://services/WS_Student/addNewStudentResponse" message="tns:addNewStudentResponse" />
</operation>
<operation name="findStudentByRollNo">
<input wsam:Action="http://services/WS_Student/findStudentByRollNoRequest" message="tns:findStudentByRollNo" />
<output wsam:Action="http://services/WS_Student/findStudentByRollNoResponse" message="tns:findStudentByRollNoResponse" />
</operation>
<operation name="updateStudent">
<input wsam:Action="http://services/WS_Student/updateStudentRequest" message="tns:updateStudent" />
<output wsam:Action="http://services/WS_Student/updateStudentResponse" message="tns:updateStudentResponse" />
</operation>
<operation name="isExist">
<input wsam:Action="http://services/WS_Student/isExistRequest" message="tns:isExist" />
<output wsam:Action="http://services/WS_Student/isExistResponse" message="tns:isExistResponse" />
</operation>
</portType>
<binding name="WS_StudentPortBinding" type="tns:WS_Student">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="getAllStudent">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="addNewStudent">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="findStudentByRollNo">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="updateStudent">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="isExist">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="WS_StudentService">
<port name="WS_StudentPort" binding="tns:WS_StudentPortBinding">
<soap:address location="http://localhost:8084/WSSSSSSSwww/WS_Student" />
</port>
</service>
</definitions>